<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>


  <br />
  <hr />

  <button (click)="refresh()">rafraîchir</button>
  <div style="width:80%;margin:auto;">
   <canvas id="myChart"></canvas>
  </div>

  <ul>
    <li *ngFor="let temperatureData of temperatureDatas">
      Date : {{formatDate(temperatureData.date)}} | Temperature : {{temperatureData.temperature}}
    </li>
  </ul>


  <ul>
    <li *ngFor="let luminositeData of luminositeDatas">
      Date : {{formatDate(luminositeData.date)}} | luminosite : {{luminositeData.luminosite == false ? "false" : "true"}}
    </li>
  </ul>

<div>
